* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(137, 182, 239, 0.27);
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: #9ba7fd;
    height: 40px;
    position: relative;
    padding-left: 30px;
    padding-right: 70px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(2, 28, 59, 1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(2, 28, 59, 1);
    box-shadow: 0px 0px 9px 1px rgba(2, 28, 59, 1);
}

.menu li {
    list-style: none;
    width: 170px;
    height: 40px;
}

.menu a:hover {
    background-color: #81a0f7;
    height: 40px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(2, 29, 61, 1);
    -moz-box-shadow: 2px 2px 5px 1px rgba(2, 29, 61, 1);
    box-shadow: 2px 2px 5px 1px rgba(2, 29, 61, 1);
}

.submenu {
    position: absolute;
    top: 40px;
    z-index: 1;
    display: none;
    background-color: #9ba7fd;
    -webkit-box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
    -moz-box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
    box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
}

.submenu__item {
    text-align: left;
    /*padding: 10px;*/
}

.menu a {
    text-decoration: none;
    display: block;
    color: #0c3e7d;
    font-size: 24px;
    text-align: center;
}

.undersubmenu {
    position: absolute;
    float: left;
    left: 170px;
    top: 80px;
    background-color: #9ba7fd;
    display: none;
    -webkit-box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
    -moz-box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
    box-shadow: 5px 3px 6px 1px rgba(4, 36, 92, 1);
}

fieldset {
    border: none;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

label {
    display: block;
    font-size: 21px;
    margin: 30px 0 20px 0;
}

.overflow {
    height: 200px;
}

.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(paht-to/checkbox.png);
}

.niceCheck input {
    display: none;
}

h2 {
    text-align: center;
    margin-top: 20px;
}
.checkbox {
  display: flex;
}

label {
  margin-top: -2px;
  margin-left: 10px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url('http://uniformjs.com/images/sprite.png');
    background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: -38px -260px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -114px -260px;
}
input[type="checkbox"]:disabled + label::before {
    background-position: -152px -260px;
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: -171px -260px;

}​
